.header-cube {
    margin-left: 8em;
}

.header-arrow {
    margin-top: 1em;
}

.hero-img {
    width: 100%;
}

.hero-h1 {
    width: 13em;
    font-size: var(--fs-xl);
}

.hero-span {
    color: rgb(247, 128, 101);
}

.hero-text {
    width: 24em;
    font-size: var(--fs-base);
}

.hero-text {
    font-size: var(--fs-base);
    color: rgb(102, 102, 102);
}

.hero-icon {
    width: 2em;
    height: 2em;
    margin-top: 1.3em;
}

.hero-btext {
    font-size: var(--fs-base);
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.service-h2 {
    width: 17em;
}

.services-text {
    font-size: var(--fs-base);
    color: rgb(102, 102, 102);
    width: 22em;
}

.sevice-link-text {
    color: rgb(247, 128, 101);
    font-size: var(--fs-base);
    font-weight: bold;
}

.facilities-h2 {
    font-size: var(--fs-xl);
}

.facilities-h3 {
    font-size: var(--fs-md);
    margin: 2em 0 0 0;
}

.facilities-text {
    font-size: var(--fs-base);
    color: rgb(102, 102, 102);
    width: 18em;
}

.facilities-linktext {
    color: rgb(247, 128, 101);
    font-size: var(--fs-md);
    font-weight: bold;
}

.sites-text {
    color: rgb(102, 102, 102);
    font-size: var(--fs-base);
    width: 17em;
}

.sites-h2 {
    font-size: var(--fs-xl);
    width: 8em;
}

.sites-img {
    width: 100%;
    height: 100%;
}

.sites-h3 {
    font-size: var(--fs-md);
}

.sites-city {
    color: rgb(102, 102, 102);
    font-size: var(--fs-base);
}

.sites-view {
    color: rgb(247, 128, 101);
    font-size: var(--fs-md);

}

.sites-starts {
    width: 2em;
    height: 2em;
    margin-top: 1.4em;
}

.sites-buttomtext {
    font-size: var(--fs-base);
    font-weight: bold;
    color: rgb(255, 255, 255);

}

.advantages-headline {
    font-size: var(--fs-xl);
}

.advantages-h3 {
    font-size: var(--fs-md);
}

.advantages-text {
    color: rgb(102, 102, 102);
    font-size: var(--fs-base);
    width: 26em;
}

footer li a {
    color: rgb(0, 0, 0);
}

footer h3 {

    font-size: var(--fs-md);
}

.footer-li-es {
    width: 12em;
}

.footer-h2 {
    font-size: var(--fs-md);
}

.footer-headline-t {
    font-size: var(--fs-xl);
    font-weight: bold;
    width: 1em;
    margin-top: 0;
}

.footer-reserved-h3 {
    width: 18em;
    font-size: var(--fs-base);
}