.hero-img {
    width: 100%;
}

.hero-h1 {
    width: 12em;
    font-size: var(--fs-xl);
}

.hero-text {
    width: 20em;
    font-size: var(--fs-base);
}

.hero-text {
    font-size: var(--fs-base);
    color: rgb(102, 102, 102);
}

.hero-btext {
    font-size: var(--fs-base);
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.2em 3em;
}

.service-h2 {
    width: 14em;
}

.services-text {
    font-size: var(--fs-base);
    color: rgb(102, 102, 102);
    width: 20em;
}

.sevice-link-text {
    color: rgb(247, 128, 101);
    font-size: var(--fs-base);
    font-weight: bold;
}

.facilities-h2 {
    font-size: var(--fs-xl);
}

.facilities-h3 {
    font-size: var(--fs-md);
    margin: 2em 0 0 0;
}

.facilities-text {
    font-size: var(--fs-base);
    color: rgb(102, 102, 102);
}

.facilities-linktext {
    color: rgb(247, 128, 101);
    font-size: var(--fs-md);
    font-weight: bold;
}

.sites-text {
    color: rgb(102, 102, 102);
    font-size: var(--fs-base);
}

.sites-h2 {
    font-size: var(--fs-xl);
}

.sites-img {
    width: 100%;
    height: 100%;
}

.sites-buttomtext {
    font-size: var(--fs-md);
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 0.2em 3em;
}

.advantages-h3 {
    font-size: var(--fs-md);
}

.advantages-text {
    color: rgb(102, 102, 102);
    font-size: var(--fs-base);
}

footer li a {
    color: rgb(0, 0, 0);
}

footer h3 {
    width: 10em;
    font-size: var(--fs-md);
}

.footer-li-es {
    width: 10em;
}

.footer-h2 {
    font-size: var(--fs-md);
}

.footer-headline-t {
    font-size: var(--fs-xl);
    font-weight: bold;
    width: 1em;
    margin-top: 0;
}