.header-s {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-ap-div {
    margin-right: 10em;
    background-color: white;
    border-radius: 2em;
    display: flex;
    gap: 0.5em;
    padding: 0.5em 1em;
}

.hero-article {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 58%;
    left: 6%;
    padding: 1em 9em 1em 3em;
}

.hero-button {
    background-color: rgb(247, 128, 101);
    border-color: transparent;
    display: flex;
    padding: 0 4em;
    gap: 1em;
}

.servicse-figure {
    margin: 0;
}

.facilitie-section {
    display: grid;
    grid-column: 4 span;
}


.facilities-article {
    display: grid;
    grid-template-rows: 4em 6em 1fr;
}


.sites-buttom {
    background-color: rgb(247, 128, 101);
    border-color: transparent;
    display: flex;
    padding: 0.1em 6em;
    gap: 1em;
}



.sites-figure {
    width: 230px;
    height: 418px;
    margin: 0;
}

.advantages-s-h {
    display: grid;
    grid-column: 3 span;
}

.advantages-article {
    display: grid;
    grid-template-rows: 4em 6em 1fr;

}

.footer-ec-section {}

.footer-ul-es {
    padding: 0;
    display: grid;
    gap: 2em;
}



.footer-reserved-s {
    border-top: 2px rgb(198, 198, 198) solid;
    width: 100%;
    display: flex;
    grid-column: 4 span;
    justify-content: space-between;
}

.footer-bottem-ul {
    display: flex;
    gap: 2em;
}