.hero {
    position: relative;
    margin-bottom: 14em;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10em;
    margin-inline: max((100% - 85%) / 2, 1.5rem);
    gap: 4em;
}

.facilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-bottom: 13em;
    margin-inline: max((100% - 85%) / 2, 1.5rem);
}

.sites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4em;
    margin-bottom: 10em;
    margin-inline: max((100% - 85%) / 2, 1.5rem);
}

.advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-bottom: 10em;
    margin-inline: max((100% - 85%) / 2, 1.5rem);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: rgb(247, 247, 247);
    width: 100%;
    padding: 5em 7em;
}